<h2 mat-dialog-title>{{ data.mode === 'create' ? 'Nuevo' : 'Editar' }} Empleado</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="d-flex flex-column gap-3 mt-2">
    <mat-form-field appearance="outline">
      <mat-label>Documento de Identidad</mat-label>
      <input matInput formControlName="documento" placeholder="Ej: 1020456789">
      @if (form.controls.documento.hasError('required')) {
        <mat-error>El documento es obligatorio</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nombre Completo</mat-label>
      <input matInput formControlName="nombre" placeholder="Ej: Diana Valencia">
      @if (form.controls.nombre.hasError('required')) {
        <mat-error>El nombre es obligatorio</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cargo</mat-label>
      <mat-select formControlName="cargo">
        <mat-option value="Administrador">Administrador</mat-option>
        <mat-option value="Bibliotecario">Bibliotecario</mat-option>
        <mat-option value="Auxiliar">Auxiliar</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="save()">Guardar</button>
</mat-dialog-actions>