<h2 mat-dialog-title>{{ data.mode === 'create' ? 'Nueva' : 'Editar' }} Reserva</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="d-flex flex-column gap-3 mt-2">
    
    <mat-form-field appearance="outline">
      <mat-label>Usuario que Reserva</mat-label>
      <mat-select formControlName="id_usuario">
        @for (usuario of usuarios; track usuario.id_usuario) {
          <mat-option [value]="usuario.id_usuario">{{ usuario.nombre }}</mat-option>
        }
      </mat-select>
      @if (form.controls.id_usuario.hasError('required')) {
        <mat-error>El usuario es obligatorio</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Libro a Reservar</mat-label>
      <mat-select formControlName="id_libro">
        @for (libro of libros; track libro.id_libro) {
          <mat-option [value]="libro.id_libro">{{ libro.titulo }}</mat-option>
        }
      </mat-select>
      @if (form.controls.id_libro.hasError('required')) {
        <mat-error>El libro es obligatorio</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha de Reserva</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fecha_reserva" placeholder="Seleccione fecha">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (form.controls.fecha_reserva.hasError('required')) {
        <mat-error>La fecha es obligatoria</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado">
        <mat-option value="Activa">Activa</mat-option>
        <mat-option value="Completada">Completada</mat-option>
        <mat-option value="Cancelada">Cancelada</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-flat-button color="primary" [disabled]="form.invalid" (click)="save()">Guardar</button>
</mat-dialog-actions>